DATABASE_URL=postgresql://user:password@127.0.0.1:5432/wesee
GOOGLE_API_KEY=''
META_VERIFY_TOKEN="" 
REDIS_URL=redis://localhost:6379/0
SENDGRID_API_KEY=
META_ACCESS_TOKEN=""
META_PHONE_NUMBER_ID=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8000/api/auth/google/callback"

