# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
ENV/
env/
.env
.venv

# Project Specific
client_secret_*.json
celerybeat-schedule
tasklist.txt

# Testing & Linting
.pytest_cache/
.ruff_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# DB & Persistent
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
